<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>MELODINATOP</title>
        <meta name="keywords" content="muzica, noutati, magazin, romania, second hand">
        <meta name="description" content="Magazin online de Vinyl-uri, CD-URI si casete!">

        <%- include("../fragmente/head.ejs") %>
    </head>
    <body>
    <%- include("../fragmente/header.ejs") %> 
    <main>
        <section id="welcome">
            <h2>Despre noi</h2>
                <section id="subsectiune1">
                    <h3>Cine suntem</h3>
                    <p title="descriere mica a magazinului"><b>MELODINATOP</b> este un magazin online
                    creat pentru oamenii (inca) pasionati de colectionarea albumelor artistilor
                    preferati!</p>
                    <p>Ne ocupam cu vanzarea de <b>vinyl-uri</b>, <b>CD-uri</b> si <b>casete</b>!
                    Suntem o comunitate stransa care doreste sa readuca pasiunea pentru ascultat muzica
                    la standarde mai inalte si la calitatea cea mai buna!</p>
    </main>
    <%- include("../fragmente/footer.ejs") %>

    </body>
</html>