<footer>
    <a href="#" title="inceputul paginii" id="link-top"><div id="triunghi"></div></a>
    <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a> <a href="https://tiktok.com" target="_blank"><i class="fa-brands fa-tiktok fa-xl"></i></a> <br>
    <a href="mailto:emailreal@gmail.com">Scrie un mail cu feedback!</a><br>
    <a href="tel:+40728549512">Sunati la acest numar pentru informatii suplimentare!</a><br>
    <a href="https://wa.me/40728549512">...sau scrieti un mesaj pe WhatsApp!</a>
    <address> 
        <a href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.4355393,26.0970118,17z/data=!3m1!4b1!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI1MDMwMi4wIKXMDSoASAFQAw%3D%3D" target="_blank">Strada Omega, nr. 15, sector 3, Bucuresti</a>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8843011452013!2d26.09700641259015!3d44.43553547095505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1741185688074!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </address>
    <small>
        MELODINATOP - Toate drepturile rezervate &copy; <time datetime="2025-03-05">2025</time>
    </small>
    <p id = "banner">Acesta este un proiect scolar!</p>
</footer>