<header>    
    <h1 id="titlu-site">MELODINATOP <i class="fa-solid fa-headphones fa-beat"></i></h1>
</header>

<nav>
    <label id="hamburger" for="ch-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </label>
    <input id="ch-menu" type="checkbox">
      
    
    <ul class="meniu">
        <li><a href="home#"><div class="text-icon" id="acasa"><i class="fa-solid fa-house"></i><span>ACASA</span> </div></a>
            <ul>
                <li><a href="home#welcome">Despre noi</a>
                <li><a href="home#tabel">Program</a></li>
                <li><a href="home#calendar">Calendar de evenimente</a></li>
                <li><a href="home#diverse">Diverse</a></li>
                <li><a href="home#utilizatori">Utilizatori online</a></li>
                <li><a href="home#utilizator-statistici">Utilizator & Statistici</a></li>
                <li><a href="home#site-server">Site & Server</a></li>
                <li><a href="home#anunturi">Noutati & Best-Sellers</a></li>
            </ul>
        </li>
        <li><div id="acasa">INREGISTRARE</div></li>
        <li><a href="despre">INFO</a></li>
    </ul>
</nav>
